APP_PORT=8080
APP_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:5175

DB_USER=myke
DB_PASSWORD=password123
DB_NAME=dachcourier-admin
DB_PORT=55432
DB_SSLMODE=disable

JWT_SECRET=change-me
JWT_TTL=24h

BOOTSTRAP_ADMIN_EMAIL=admin@dachcourier.co.uk
BOOTSTRAP_ADMIN_PASSWORD=dach123
BOOTSTRAP_ADMIN_NAME="Dach Super Admin"

API_PORT=8000
